p {
    color: rgb(217, 209, 224);
    font-weight: 400;
    font-size: 20px;
}
body {
    background-color: rgb(36, 38, 44);
}
img {
    width: 500px;
}
h1{
    color: rgb(194, 184, 200);
}
h2{
    color: rgb(74, 177, 177);
}
li{
    color: rgb(162, 181, 211);
    font-size: 18px;
}
a{
    color: rgb(99, 166, 214);
}